@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body style="background-color: antiquewhite">
    <div class="title">About Dino-Diner</div>
    <p style="font-size: 30px">
        Founded in 2019 from the collective collective consciousness of the Fall Semester CIS 400 students of Kansas State University, Dino-Diner is devoted to bringing you the finest in dinosaur-themed dining experiences. Despite the prehistoric nature of our menu, we only use the freshest of ingredients, and no dinosaurs were harmed to bring our delectable fare to you.
    </p>
    </body>
</html>

