@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body class="indexbody" style="background-image: url(images/Banner.png)" >
    <div>

        <h1 class="title" style="font-size: 100px">Dino Diner</h1>
        <ul class="ul">
            <li class="link"> <a style="font-family: 'Showcard Gothic'; text-align:center; font-size: 45px; background-color: antiquewhite; border-color:black" asp-page="/Menu">Menu</a></li>
            <li class="link"> <a style="font-family: 'Showcard Gothic'; text-align:center; font-size: 45px; background-color: antiquewhite; border-color:black" asp-page="/About">About</a></li>
            <li class="link"> <a style="font-family: 'Showcard Gothic'; text-align:center; font-size: 45px; background-color: antiquewhite; border-color:black" asp-page="/Privacy">Privacy Policy</a></listyle="float:right">

        </ul>
    </div>

</body>
</html>
