@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<body class="body-content" style="background-image: url(images/Banner.png)" >
    
    <h1 class="title" >Dino Diner</h1>
    



</body>
</html>
<a class="columnmain" style="font-family: 'Showcard Gothic'; text-align:center; font-size: 40px; background-color: antiquewhite; border-color:black"  asp-page="/About">About</a><
<a class="columnmain" style="font-family: 'Showcard Gothic'; text-align:center; font-size: 40px; background-color: antiquewhite; border-color:black" asp-page="/Privacy">Privacy Policy</a>
<a class="columnmain" style="font-family: 'Showcard Gothic'; text-align:center; font-size: 40px; background-color: antiquewhite; border-color:black" asp-page="/Menu">Menu</a>