/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    position: absolute;
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
}
.container body-content {
    position: absolute;
    height: auto;
    min-height: 100%;
    width: 100%;
}
.indexbody {
    background-position: 50% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item {
   
    text-align: center;
    font-size: x-large;
}
.column {
    width: 25%;
    float: left;
    height: 25%;
}
.columnmain {
    width: 30%;
    float: left;
    height: 0%;
    position: absolute;
    bottom: 100px;
}

.title {
    font-size: 150px;
    font-family: 'Showcard Gothic';
    text-align: center;
}
.menu-item > .type {
    text-align: left;
}
.menu-item > .info {
  text-align:left;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;

}
.ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
}

.menu-item > .Item {
    text-decoration: underline;
    text-align:center;
    font-family: 'Showcard Gothic';
}
.Item {
    text-align: center;
    display: flex;
    flex-direction: row;
}
.type {
    font-size: 50px;
    text-align: left;
    font-family: 'Showcard Gothic';
}
.link {
    font-size: 20px;
   float: none;
   display: block;
   text-align:center;
   padding: 16px;
   text-decoration: none;

}

